{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        .img1{
            width: 30%;
            height: 30%;
            text-align: center;
            margin-left: 35%;
        }
        .text{
            text-align: center;
        }
        .mt-5{
            color: darkorange;
        }

    </style>
{% endblock %}
{% block content %}

    <p class="important">
      <h1 class="mt-5 mb-4">Welcome to Calculator Page</h1>
<h6 class="text">Please click on below image to start calculation or Calculator link from Navbar</h6>

      <a href="/calculator"><img class="img1"alt="" src="{{ url_for('static', filename='images/calculator.jpg') }}"
         width=150" height="70">
      </a>
    </p>
{% endblock %}